// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.activity-img {
    width: 200px;
    height: 200px;
}

.user-avatar {
    width: 80px;
    height: 80px;
}

