/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

@import url('https://fonts.googleapis.com/css?family=Montserrat|Slabo+27px&display=swap');


a.navbar-brand {
    font-family: 'Slabo 27px', serif;
    color: #844685;
    font-size: 1.4em;
}

a.navbar-brand:hover {
    color: #10375c;
}

body {
    background-color: #faf4ff;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.head-section {
    background-color: #10375c;
    height: 100px;
    color: white;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 2px;
}

.card-title {
    color: #844685;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 1px;
    font-size: 1.5em;
}

.card-text {
    color: #10375c;
    font-family: 'Montserrat', sans-serif;
}
