/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

@import url('https://fonts.googleapis.com/css?family=Montserrat|Slabo+27px&display=swap');

.background {
    background-color: #2a2e36;
}

a.navbar-brand {
    font-family: 'Slabo 27px', serif;
    color: #7fcd91;
    font-size: 1.4em;
}

a.navbar-brand:hover {
    color: #10375c;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.header {
    color: #7fcd91;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 2px;
}

.card-title {
    color: #7fcd91;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 1px;
    font-size: 1.5em;
}

.card-text {
    color: #7fcd91;
    font-family: 'Montserrat', sans-serif;
}

div.card {
    border: 1px solid #7fcd91;
    background-color: #5b5656;
}



.main_picture {
    height: 80%;
    width: 80%;
    border: 1px solid #7fcd91;
}

.sub-title {
    color: #7fcd91;
}

input#user_email {
    width: 30%;
}

input#user_password {
    width: 30%;
}

label {
    color: white;
}

.check-box {
    color: #7fcd91;
}

a {
    color: white !important;
    text-decoration: none !important;
    text-align: center;
}

a:hover {
    color: #7fcd91 !important;
}

.form-control {
   width: 30% !important;
}

h6 {
    color: white !important;
}

input#user_avatar {
    color: white;
}

div.alert.alert-notice {
    color: #7fcd91;
}

.links {
    color: white !important;
}

.profile {
    color: #7fcd91;
}
