<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<% Activity::ACTIVITIES.each do |acti| %>
    <% if acti == @activity.name %>
        <p><%= image_tag Activity::IMAGES[@activity.name], class: 'activity-img img-fluid shadow' %></p>
    <% end %>
<% end %>

<p>
  <%= @activity.description %>
</p>

<%= link_to 'Back', activities_path %>
